:root
{
  --white: 0, 0%;
  --purple: 270, 75%;
  --verde-hue: 110;
}

#logar
{
  height: 20rem;
  padding: 1%;
  margin: 1% 0;
  background: linear-gradient(to left, hsl(305, 100%, 3%), hsl(51, 100%, 3%));
  letter-spacing: .07rem;
}

#login
{
  height: 90%;
  width: 70%;
  background-color: hsl(var(--white), 100%);
  box-shadow: 2vw 2vw hsla(var(--white), 10%, 90%);
  margin: 2% 0;
  padding: 1% 0;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input
{
  padding: 1% 0;
  width: 90%;
  background-color: hsl(var(--white), 80%);
  color: hsl(var(--verde-hue), 100%, 5%);
  box-shadow: .5vw .5vw hsla(var(--white), 10%, 70%);
  border-radius: 2rem;
  text-align: center;
  outline: none;
  border: none;
}

input::placeholder
{
  padding: 1%;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  color: hsl(var(--verde-hue), 100%, 4%);
  border-radius: 2rem;
}

.password
{ 
  text-align: center;
  width: 70%;
  color: hsl(var(--white), 20%);
}

.password a
{
  color: hsl(var(--verde-hue), 100%, 20%);
}

.password a:hover
{
  color: hsl(var(--verde-hue), 100%, 30%);
  cursor: pointer;
}

#botao
{  
  color: hsl(var(--white), 100%);
  background-color: hsl(var(--verde-hue), 100%, 10%);
  box-shadow: .5vw .5vw hsla(var(--white), 10%, 70%);
  font-weight: bold;
  border-radius: 0;
  padding: 2%;
  border-radius: 2rem;
  text-transform: uppercase;
}

#botao:hover
{
  background-color: hsl(var(--verde-hue), 100%, 25%); 
}

i::before 
{
	display: inline-block;
	font-size: 3rem;
	text-align: center;
  align-self: center;
}

.fa-github-alt:hover
{
  color: hsl(var(--purple), 50%);
  animation-name: github;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes github
{
  100%
  {
    transform: rotate(1800deg);
    color: hsl(var(--verde-hue), 100%, 50%);
  }
}